<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/aboutUs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="GridContainer">
        <div class="GridHeader">
            <div class="logo2"> <img src="../static/logo2.png" alt="logo1"> </div>
            <ul class="nav-area">
                <li> <a href="../views/main.html">Home</a> </li>
                <li> <a href="../views/searchPage.html">Search</a> </li>
                <li> <a href="../views/aboutUs.html">About</a> </li>
        </ul>
        </div>

        <div class="GridMain">
            <div class="header">
                <h1>About Us</h1>
                <p>How Does It Work?</p>
            </div>
            <div class="sub-container">
            <div class="steps">
                <img src="../static/aboutUs1.png" alt="">
                <div class="name">Sign Up</div>
                <div class="about">Sign up so you can save favorite recipes</div>
            </div>
    
            <div class="steps">
                <img src="../static/aboutUs2.png" alt="">
                <div class="name">Search</div>
                <div class="about">Feed the ingredients you have at home</div>
            </div>
    
            <div class="steps">
                <img src="../static/aboutUs3.png" alt="">
                <div class="name">Let's Start Cooking!</div>
                <div class="about">Now the recipes are with you and you just have to choose what to cook,<br> good luck</div>
            </div>
    
             </div>
        </div>

    </div>








</body>
</html>