<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in page</title>
    <link rel="stylesheet" type="text/css" href="../static/signIn.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo2"> <img src="../static/logo2.png" alt="logo1"> </div>
            <ul class="nav-area">
                <li> <a href="../views/main.html">Home</a> </li>
                <li> <a href="../views/searchPage.html">Search</a> </li>
                <li> <a href="../views/aboutUs.html">About</a> </li>
            </ul>
        </div>
    </nav>

    <div class="inputSignIn">
        <div class="signInLogo"> <img src="../static/logIn.png" alt="signInLogo"> </div>

        <form action="" method="" class="form" id="forgotPassword">
            <label for="email">Email</label><br>
            <input type="text" name="email" id="email"><br><br>
            
            <input type="submit" value="Send password to Email"><br><br>
  

        </form>




        
    </div>

    








    </form>
    
</body>
</html>