<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the main page of COMBIE</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head> 
<body>

    <div class="GridContainer">
        <div class="GridHeader">
            <div class="logo2"> <img src="../static/logo2.png" alt="logo1"> </div>
            <ul class="nav-area">
                <li> <a href="../views/main.html">Home</a> </li>
                <li> <a href="../views/searchPage.html">Search</a> </li>
                <li> <a href="../views/aboutUs.html">About</a> </li>
        </ul>
        </div>
        <div class="GridLeft">
            <div class="welcome-text">
            <h1>Your Own Private Resteraunt</h1>
            <p>We offer variety of recipes based on the ingredients available in your home</p><br>
            <button onclick="location.href='../views/signIn.html'" type="submit">Sign up </button> 
    </div>
        </div>

        <div class="GridFooter">
                <div class="animation">
                <img src="../static/animate1.png">
                <img src="../static/animate2.png">
                <img src="../static/animate3.png">
                <img src="../static/animate4.png">
                </div>
        </div>
    </div>


<!-- old
<nav>
    <div class="wrapper">
        <div class="logo2"> <img src="static/logo2.png" alt="logo1"> </div>
        <ul class="nav-area">
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">Search</a> </li>
            <li> <a href="#">About</a> </li>
        </ul>
    </div>

    <div class="animation">
        <img src="static/animate1.png">
        <img src="static/animate2.png">
        <img src="static/animate3.png">
        <img src="static/animate4.png">

    </div>
</nav>


    <div class="welcome-text">
        <h1>Your Own Private Resteraunt</h1>
        <p>We offer variety of recipes based on the ingredients available in your home</p><br>
        <button type="submit">Sign up </button> 
    </div>

-->




</body>
</html>