<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="../static/resultPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="wrapper">
            <div class="logo2"> <img src="../static/logo2.png" alt="logo1"> </div>
            <ul class="nav-area">
                <li> <a href="../views/main.html">Home</a> </li>
                <li> <a href="../views/searchPage.html">Search</a> </li>
                <li> <a href="../views/aboutUs.html">About</a> </li>
            </ul>
        </div>
    </nav>

    <div class="header">
        <h1>You Can Make:</h1>
    </div>
    
</body>
</html>