<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="../static/searchPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="GridContainer">
        <div class="GridHeader">
            <div class="logo2"> <img src="../static/logo2.png" alt="logo1"> </div>
            <ul class="nav-area">
                <li> <a href="../views/main.html">Home</a> </li>
                <li> <a href="../views/searchPage.html">Search</a> </li>
                <li> <a href="../views/aboutUs.html">About</a> </li>
        </ul>
        </div>
        <div class="GridMain">
            <div class="search-box">
                <input class="search-text" type="text" name="" placeholder="Enter Your Ingredients">
                <a class="Search-btn" href="#"></a>
                <i class="fas fa-search"> </i>
            </div>
        </div>

    </div>
    
</body>
</html>