body {
    margin: 0;
    padding: 0;
    background-color: #e1d0b4;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: auto;

}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
}

.nav-area li{
    display: inline-block;

}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}

.nav-area a:hover{
    background: #fff;
    color: #333;
}

.logo2 img{
    width: 150px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
}

.header h1{
    padding-left: 40%;
    padding-top: 5%;
    text-align: left;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}